body {
    background-image: url('ziemai.jpg');
    color: rgb(0, 0, 0);
}
a{
    color: black;
    font-size: 30px;
}
.mapid { height: 300px;
    width: 1110px;
    margin: auto;
}
div.panel {
    font-size: 30px;
    color: black;
    background-color: aliceblue;
    opacity: 0.9;
    font-family: Jazz LET, Cursive
}
a.kategory{
    font-size: 30px;
    color: black;
}
div.lista {
    font-size: 20px;
    color: black;
    background-color: white;
    height: 880px;
}

p {
    color: black;
    font-size: 20px;
}
.login {
    background: powderblue;
    width: 30rem;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    border: aliceblue 10px;
    border-radius: 10px;

}

#center {
    margin-bottom: auto;
    margin-top: auto;
}
.nazwa {
    width: 80%;
    margin: 0 auto;
}
.search{
    text-align: center;
}
.list_search_objects{
    position: absolute;
    margin-left: 350px;
    border-radius: 10px;
    background: gray;
    border: 5px black;
}
.not-visible{
    display: none;
}

.item-image{
    width: 100px;
    height: 80px;
}
#light{
     margin-left: auto;
    margin-right: auto;
    width: 570px;
    background-color: azure;
}
#dark{
    width: 570px;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
}
.item{
    height: 80px;
}
.h5_search{
    position: static;
    margin-bottom: auto;
    margin-top: auto;
}
#td_image{
    width: 150px;
}
.td{
    font-size: 20px;
}
#td_title{
    width: 250px;
}
.column{
    font-size: 15px;
    height: auto;
    width: 150px;
}
.nazwa{
    height: 105px;
    width: 300px;
    margin-right: 330px;
}
#nazwa{
    position: relative;
    width: 570px;
    /*margin-right: 100px;*/
     margin-left: 180px;

}
#lista{
    width: 940px;
    float:right;
}
.ciemny{
    background-color: lightgray;
    height: 200px;
    width: 300px;
     border-radius: 20px;
    float: left;
    margin: 5px;
}
.jasny{
    width: 300px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 20px;
    float: left;
    margin: 5px;
}
.selected{
    width: 150px;
    height: 45px;
    float: left;
}
.pagination{
    position: relative;
    margin-bottom: auto;

    width: 300px;
    height: 45px;
    float: right;

}
#input_search{
    width: 300px;
    height: 60px;
    border-radius: 20px;
    box-shadow: gray;
    text-align: center;
}
#form_search{
    height: 60px;
}
.blank{
    width: 25px;
    height: 60px;
    float: right;
}

.pagination_text{
    font-size: 15px;
}
.pagination_detail{
    position: relative;
    margin-top: auto;
    font-size: 15px;
    width: 110px;
    height: 30px;
    float: right;
}
.col{
    float: left;
    width: 550px;
    height: 650px;
}
.line{
    float: left;
}
.center_register{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.register_input, #id_username, #id_password{
    height: 32px;
    border-radius: 5px;
    border-width: 0px;
    border: none;

}
