body {
    background-image: url('ziemai.jpg');
    color: rgb(0, 0, 0);
}

div.panel {
    height: auto;
    width: 100%;
    font-size: 2rem;
    color: black;
    background-color: aliceblue;
    opacity: 0.9;
    font-family: Jazz LET, Cursive;
    padding: 0.6rem;
}
.panel_elements_search{
    float: left;
}
a{
    color: black;
    font-size: 2rem;
    text-decoration: None;
}
.nazwa {
    /*width: 80%;*/
    /*margin: 0 auto;*/
}
search{
    text-align: center;
}
.list_search_objects{
    position: absolute;
    float: left;
    border-radius: 5px;


}
.h5_search{
    position: static;
    margin-bottom: auto;
    margin-top: auto;
}

.pagination{
    position: relative;
    width: auto;
    font-size: 1rem;
}

.pagination_text{
    font-size: 1.3rem;
}
.pagination_detail{
    text-align: center;
    margin-right: 5%;
    font-size: 1.5rem;
    width: auto;
    height: 2rem;
}
.pagination_number{
    color: white;
    font-size: 0.8rem;
    background-color: #79aec8;
    padding: 0.3rem 0.4rem;
}
.pagination_number:hover{
    color: white;
    background-color: #3875d7;
}
#input_search{
    width: 20rem;
    height: 2.5rem;
    border-radius: 0.6rem;
    box-shadow: gray;
    text-align: center;
}
#form_search{
    height: 4rem;
}



a.kategory{
    font-size: 2rem;
    color: black;
}
div.lista {
    font-size: 1rem;
    color: black;
    background-color: white;
    width: 100%;
}

p {
    color: black;
    font-size: 1rem;
}
.login {
    background: powderblue;
    width: 30rem;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    border: aliceblue 1rem;
    border-radius: 1rem;

}

#center {
    margin-bottom: auto;
    margin-top: auto;
}
.not-visible{
    display: none;
}

.item-image{
    width: 7rem;
    height: 5rem;
}
#light{
    width: 30rem;
     margin-left: auto;
    margin-right: auto;
    background-color: azure;
    border-style: outset;
    border-color: black;
}
#dark{
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    border-style: outset;
    border-color: black;
}
.item{
    height: 5rem;
    text-decoration: None;
}

#td_image{
    width: 7rem;
}
.td{
    font-size: 1rem;
}
#td_title{
    width: 20rem;
    text-align: center;

}
.column{
    font-size: 1rem;
    height: 29rem;
    width: 20rem;
}
.nazwa_NIEWIADOMA{
    height: 7rem;
    width: 20rem;
    margin-right: 22rem;
}
#nazwa{
    position: relative;
    width: 38rem;
    /*margin-right: 100px;*/
     margin-left: 12rem;

}

.ciemny{
    height: 13rem;
    width: 18rem;
    background-color: lightgray;
     border-radius: 1rem;
    float: left;
    margin: 0.5rem;
}
.jasny{
    height: 13rem;
    width: 18rem;
    background-color: aliceblue;
    border-radius: 1rem;
    float: left;
    margin: 0.5rem;
}
.objects{
    width: auto;
    height: auto;
}
.mapid {
    margin-top: 2rem;
    height: 27rem;
    width: 95%;
}

.selected{
    width: 13rem;
    height: 3rem;
    float: left;
}
.blank{
    width: 2rem;
    height: 4rem;
    float: right;
}
.col{
    float: left;
    width: 34rem;
    height: 43rem;
}
.line{
    float: left;
}
.center_register{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.register_input, #id_username, #id_password{
    height: 2rem;
    border-radius: 0.5rem;
}
.detail{
    height: auto;
    width: 67rem;
    background-color: whitesmoke;
    justify-content: center;

    margin: auto;
}
.image{
    width: 9rem;
    height: 10rem;
    border-radius: 1rem;
}
.image_detail{
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
}

.row_table{
    background-color: lightgrey;
    width: 100%;
}
#latest_objects{
    margin-top: 2rem;
    background-color: powderblue;
    border-radius: 1rem;
}
.form_create{
    margin-top: 2rem;
}