body {
    background-image: url('12.jpg');
    color: rgb(0, 0, 0);
}
a{
    color: black;
    font-size: 30px;
}
.mapid { height: 180px;
    width: 1110px;
    margin: auto;
}
div.panel {
    font-size: 30px;
    color: black;
    background-color: aliceblue;
    opacity: 0.7;
    font-family: Jazz LET, Cursive
}
a.kategory{
    font-size: 30px;
    color: black;
}
div.lista {
    font-size: 20px;
    color: black;
    background-color: white;
    height: 880px;
}

p {
    color: black;
    font-size: 20px;
}
.login {
    background: aliceblue;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    border: aliceblue 10px;

}

#center {
    margin-bottom: auto;
    margin-top: auto;
}
.nazwa {
    width: 80%;
    margin: 0 auto;
}
.search{
    text-align: center;
}
.list_search_objects{
    position: absolute;
    margin-left: 540px;
    border-radius: 10px;
    background: gray;
    border: 5px black;
}
.not-visible{
    display: none;
}
#input_search{
    width: 570px;
}
#form_search{
    display: inline;
}
.item-image{
    width: 100px;
    height: 80px;
}
#light{
     margin-left: auto;
    margin-right: auto;
    width: 570px;
    background-color: azure;
}
#dark{
    width: 570px;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
}
.item{
    height: 80px;
}
.h5_search{
    position: static;
    margin-bottom: auto;
    margin-top: auto;
}
#td_image{
    width: 150px;
}
.td{
    font-size: 20px;
}
#td_title{
    width: 250px;
}
.pagination{
    font-size: 15px;
}
.nazwa{
    background-color: white;
    opacity: 0.7;
    width: 100%;
}
#nazwa{
    position: relative;
    width: 570px;
    /*margin-right: 100px;*/
     margin-left: 180px;

}
#lista{
    width: 940px;
    float:right;
}
.ciemny{
    background-color: lightgray;
    height: 200px;
    width: 300px;
     border-radius: 10px;
    float: left;
    margin: 5px;
}
.jasny{
    width: 300px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 10px;
    float: left;
    margin: 5px;
}
