{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %}Dodawanie rzeczy

 {% endblock %}

{% block content %}
    {{  point.media }}
    <div style="background-color: whitesmoke; width: 1100px; height: 800px; margin: auto">
        <h1 style="text-align: center">Add an object to the catalog</h1>
            <form action='.' method='post' enctype='multipart/form-data'>
                <div style="height: 650px;">
                <div class="col">
                    {{ create_form.as_p }}

                </div>
                <div class="col">
                    {{ point.as_ul }}
                </div>
                </div>
                <div style="width: 50%; margin: auto;">
                         {% csrf_token %}
                        <input style="font-size: 27px" type="submit" value="Add the object">
                        <button><a href="{% url 'poszukiwania:objects_list' %}">Go back to the menu</a> </button>
                    </p>
                </div>

            </form>
        </div>
    <script type="text/javascript" src="{% static 'js/test.js' %}"></script>
{% endblock %}
