{% extends 'base.html' %}

{% load bootstrap5 %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans 'Dodawanie rzeczy' %}
 {% endblock %}

{% block content %}
    {{  mapa_form.media }}

    <div class='container' style="background-color: whitesmoke; width: 60%; height: auto; margin: auto">
            <form action='.' method='post' enctype='multipart/form-data'>
                {% csrf_token %}

                <div class="row" style="height: auto;">
                    <div class="col-1"></div>
                    <div class="col-3" >
                        <div class="form_create" style="margin-top: 0">
                            <label>{% trans "Category" %}</label>
                            {{ form.category }}
                        </div>
                        <div class="form_create">
                            {{ form.name }}
                        </div>
                        <div class="form_create">
                            {{ form.year }}
                        </div>
                        <div class="form_create">
                            {{ form.text }}
                        </div>
                        <div class="form_create">
                            <label>{% trans "image_obverse" %}</label>
                            {{ form.image_obverse }}
                        </div>
                        <div class="form_create">
                            <label>{% trans "image_reverse" %}</label>
                            {{ form.image_reverse }}
                        </div>
                        <div class="form_create">
                            {{ form.catalog_number }}
                        </div>
                        <div class="form_create">
                        </div>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-6"  style="margin-top: 1.5rem;">
                        <div class="map" id="map" style="height: 28rem;">
                            {{ map.point }}

                        </div>
                              {% if map.errors %}
                                <p><h4 style="color: firebrick">{% trans 'Mark the point on the map' %}</h4></p>
                            {% endif %}
                        <div class="form_create" style="height: 14rem;">
                            {{ form.comments }}
                        </div>
                            <div style="width: auto; float: right; height: 2rem;">
                                {% if type == 'create' %}
                                    <button class="btn btn-secondary" id="button_create" type="submit" value="create">{% trans "create" %}</button>
                                {% else %}
                                    <button class="btn btn-secondary" id="button_update" type="submit" value="create">{% trans "update" %}</button>
                                {% endif %}
                                <a class='btn btn-secondary' href="{% url 'poszukiwania:objects_list' %}">{% trans "back" %}</a>
                            </div>

                    </div>

                </div>


            </form>

        </div>
 <style type="text/css">
        #id_geolocation_map{
            width: 100%;
        }
    </style>
    <script type="text/javascript" src="{% static 'js/test.js' %}"></script>
{% endblock %}
