 {% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}
    {% trans 'Detail' %}
{% endblock %}

{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 250px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th{
    width: 9rem;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
#id_text{
    height: 18rem;
    width: 20rem;
}
.button_detail{
    height: 2.5rem;
}
</style>
    <div class="detail">
        <div class="panel">
            <div style="height: auto;width: auto; float: right">
                <a class="btn btn-secondary button_detail" href="{% url 'poszukiwania:objects_list' %}">{% trans "back" %}</a>
                <a class="btn btn-secondary button_detail" href="{% url 'poszukiwania:update' object.pk %}">{% trans "update" %}</a>
                <a class="btn btn-dark button_detail" href="{% url 'poszukiwania:delete' object.pk %}" onclick="return confirm('Are you sure')">{% trans "delete" %}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg></a>
            </div>
        </div>
        <div>
            <div class="text_center">
                <img class="image_detail"  src="{{ object.image_obverse.url }}">
                <img class="image_detail"  src="{{ object.image_reverse.url }}">
            </div>
        </div>
        <div style="  width: 40rem; margin: auto; margin-top: 2rem; margin-bottom: 2rem;">
            <div style="width: 20rem; height: 20rem; float: left">
                <div style="float: left";>
                    <table style="width: 20rem" id="table_detail">
                        <tr>
                            <th>{% trans "Name" %}</th>
                            <td>{{ object.name }}</td>
                        </tr>
                        <tr>
                            <th>{% trans "User" %}</th>
                            <td>{{ object.user }}</td>
                        </tr>
                        <tr>
                            <th>{% trans "Category" %}</th>
                            <td>{{ object.category }}</td>
                        </tr>
                        <tr>
                            <th>{% trans "Year" %}</th>
                            <td>{{ object.year }}</td>
                        </tr>
                        <tr>
                            <th>{% trans "Catalog_number" %}</th>
                            <td>{{ object.catalog_number }}</td>
                        </tr>
                            <th>{% trans "Update" %}</th>
                            <td>{{ object.update }}</td>
                        </tr>
                        </tr>
                            <th>{% trans "Publish" %}</th>
                            <td>{{ object.publish }}</td>
                        </tr>
                    </table>
                </div>

            </div>
            <div style="width: 15rem; height: 20rem; float: left">
                {{ form.text }}
            </div>
        </div>

        <div id='mapid'  class="mapid" style="margin: auto; margin-top: 50px; width: 600px">
        <script type="text/javascript">
        console.log()
            var satellite = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}');
            var street = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?{foo}', {foo: 'bar'});
               var m = L.map('mapid',   {center: [{{ point.point.lat|safe }}, {{ point.point.lng|safe }}],
                                        zoom: 15,
                                        layers: [satellite]});
            var baseMaps = {
                "Grayscale": satellite,
                "Streets": street}
            L.control.groupedLayers(baseMaps).addTo(m);
            L.marker({{ point.point|safe }}).addTo(m);
        </script>
        </div>
        <div style="width: 40rem; margin: auto; margin-top: 2rem; ">
            {{ form.comments }}
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/detail.js' %}"></script>
 {% endblock %}