 {% extends "base.html" %}
 {% load mapa.models}
{% load bootstrap %}
{% load static %}
            {% load leaflet_tags %}
{% load geojson_tags %}


    

{% block content %}
<div class="container">
    <div class="panel">
        {% if request.user.is_authenticated %}
            <button><a  href="{% url 'poszukiwania:logout' %}">Wyloguj się</a></button>
            <button><a href="{% url 'poszukiwania:create' %} " style="color: black">Dodaj pozycję</a></button>
        {% else %}
            <button><a href="{% url 'poszukiwania:login' %}" style="background: black">Zaloguj się</a></button>
        {% endif %}
        {% if request.user.is_authenticated %}
            <select id="category_selected" onchange="location = this.value;">
                    <option>Kategoria</option>
                   <option value="{% url 'poszukiwania:rzeczy_list' %}">Wszystkie</option>
                {% for category in categories %}
                   <option value="{{ category.get_absolute_url }}">{{ category.title }}</option>
                {% endfor %}
            </select>
    </div>
        {% if  kat %}
        {% leaflet_js %}
        {% leaflet_css %}
        {% endif %}
        <div  class="lista">
            <table>
              <tr>
                <th>Obraz</th>
                <th>Nazwa</th>
                <th>Rok</th>
              </tr>
            </table>
            {% for rzecz in rzeczy %}
                <a href="{{ rzecz.get_absolute_url }}">
                    <div  {% if forloop.counter|divisibleby:2 %} class="ciemny"{% else %} class="jasny"{% endif %}>
                        <table style="width:100%">
                          <tr>
                            <td><img style='width: 200px; height: 100px' src="{{ rzecz.image.url }}"></td>
                            <td>{{ rzecz.title }}</td>
                            <td>{{ rzecz.year }}</td>
                          </tr>
                        </table>
<!--                        <div class="row align-items-start">-->
<!--                            <div class="col" id="center"><img style='width: 200px; height: 100px' src="{{ rzecz.image.url }}"></div>-->
<!--                            <div class="col" id="center"><p>{{ rzecz.title }}</div>-->
<!--                            <div class="col" id="center"><p>{{ rzecz.year }}</div>-->
<!--                        </div>-->
                    </div>
                </a>
            {% endfor %}
            <div class="mapid">           <script type="text/javascript">
                   var collection = {{ maps|geojsonfeature:":geolokalizacja"|safe }};
                   function map_init(map, options) {
                        L.geoJson(collection).addTo(map)}
                </script>
                {% leaflet_map 'Mapa' callback="window.map_init" %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
  
