 {% extends "base.html" %}

{% load static %}
{% load leaflet_tags %}

{% load custom_template_tags %}


{% block content %}
    <div class="container">
        <div class="panel">
            {% if request.user.is_authenticated %}
                <p style="width: 10px; float: right"></p>
                <a style="float: right; " href="{% url 'poszukiwania:logout' %}">Log out</a>
                <button><a href="{% url 'poszukiwania:create' %} " >Add an object</a></button>
            {% else %}
                <a href="{% url 'poszukiwania:login' %}" >Log in</a>
            {% endif %}
            {% if request.user.is_authenticated %}

                <div class="nazwa">
                    <div>
                        <form id="form_search">
                            {% csrf_token %}
                            <input placeholder="search" id="input_search">
                        </form>
                    </div>
                    <div class="pagination">
                          <div class="pagination_detail">
                              {% if objects.has_previous %}
                                <a class="pagination_text" href="?page={{ objects.previous_page_number }}"><strong>Previous </strong></a>
                              {% endif %}
                          </div>
                          <div class="pagination_detail">
                              Strona {{ objects.number }} z {{ objects.paginator.num_pages }}.
                          </div>
                          <div class="pagination_detail">
                              {% if objects.has_next %}
                                <a class="pagination_text" href="?page={{ objects.next_page_number }}"><strong> Next</strong></a>
                              {% endif %}
                          </div>
                    </div>
                </div>
         </div>
        <div class="list_search_objects not-visible"></div>


        <div  class="lista" style="background-color: ghostwhite">
            <div id="lista">
                {% for object in objects %}
                    <a href="{{ object.get_absolute_url }}">
                        <div  {% if forloop.counter|divisibleby:2 %} class="ciemny"{% else %} class="jasny"{% endif %}>
                            <table>
                               <tr>
                                   <td>
                                       {% if object.image_obverse %}
                                            {% define object.image_obverse.url as obverse %}
                                       {% else %}
                                            {% define 'empty.png' as obverse %}
                                       {% endif %}
                                       {% if object.image_reverse %}
                                            {% define object.image_reverse.url as reverse %}
                                       {% else %}
                                            {% define 'empty.png' as reverse %}
                                       {% endif %}
                                           <div style="display: flex">
                                               <img style='width: 150px; height: 150px; border-radius: 20px;' src="{{ obverse }}">
                                               <img style='width: 150px; height: 150px; border-radius: 20px;' src="{{ reverse }}">
                                           </div>


                                   </td>
                               </tr>
                                <tr>
                                    <td>
                                        <div style="float: left; font-size: 25px;">{{ object.title }}</div>
                                        <div style="float: right; font-size: 20px;">{{ object.year }}</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </a>
                {% endfor %}

            </div>
            <div class="column">

                <table>
                    <tbody>
                        <tr>
                            <td>
                                <select class="selected" id="category_selected" onchange="location = this.value;"  >
                                    <option>Categories</option>
                                    <option value="{% url 'poszukiwania:objects_list' %}" >All categories</option>
                                    {% for category in categories %}
                                    <option  id='{{ category.slug }}' value="{{ category.get_absolute_url }}"{% if category == current_category %}selected="selected"{% endif %} >{{ category.title }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                 <select class="selected" onchange="location = this.value">
                                    <option value=""><strong>Sort by</strong></option>
                                    <option value="?sort={{ 'title' }}">Name</option>
                                    <option value="?sort={{ 'year' }}">Year</option>
                                    <option value="?sort={{ 'publish' }}">Publication</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="mapid" class="mapid">

        <script type="text/javascript">
              var m = L.map('mapid').setView([52.012, 21.922], 15);
                L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/' +
                    'World_Imagery/MapServer/tile/{z}/{y}/{x}').addTo(m);
                {% for e in maps %}
                    console.log({{ e.lat_lng }})
              L.marker({{ e.lat_lng }}).addTo(m).bindPopup('{{ e.description_f }}');
                {% endfor %}

        </script>
        {% endif %}
    </div>
 <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
{% endblock %}

