 {% extends "base.html" %}
 {% load mapa.models}
{% load bootstrap %}
{% load static %}
            {% load leaflet_tags %}
{% load geojson_tags %}


{% block content %}
    <div class="container">
        <div class="panel">
            {% if request.user.is_authenticated %}
                <p style="width: 10px; float: right"></p>
                <a style="float: right; " href="{% url 'poszukiwania:logout' %}">Wyloguj się</a>
                <a href="{% url 'poszukiwania:create' %} " >Dodaj pozycję</a>
            {% else %}
                <a href="{% url 'poszukiwania:login' %}" >Zaloguj się</a>
            {% endif %}
            {% if request.user.is_authenticated %}
        </div>
        <div class="nazwa">


                <div class="pagination">
                      <div class="pagination_detail">
                          {% if rzeczy.has_previous %}
                            <a class="pagination_text" href="?page={{ rzeczy.previous_page_number }}"><strong>Poprzednia </strong></a>
                          {% endif %}
                      </div>
                      <div class="pagination_detail">
                          Strona {{ rzeczy.number }} z {{ rzeczy.paginator.num_pages }}.
                      </div>
                      <div class="pagination_detail">
                          {% if rzeczy.has_next %}
                            <a class="pagination_text" href="?page={{ rzeczy.next_page_number }}"><strong> Następna</strong></a>
                          {% endif %}
                      </div>
                </div>
                <div class="blank">

                </div>
                <form id="form_search">
                    {% csrf_token %}
                    <input placeholder="wyszukaj obiekt" id="input_search">
                </form>

        </div>
        <div class="list_search_objects not-visible"></div>
            {% if  kat %}
            {% leaflet_js %}
            {% leaflet_css %}
            {% endif %}
        <div  class="lista" style="background-color: ghostwhite">
            <div id="lista">
                {% for rzecz in rzeczy %}
                    <a href="{{ rzecz.get_absolute_url }}">
                        <div  {% if forloop.counter|divisibleby:2 %} class="ciemny"{% else %} class="jasny"{% endif %}>
                            <table>
                               <tr>
                                   <td>
                                       <img style='width: 300px; height: 150px; border-radius: 20px;' src="{{ rzecz.image.url }}">
                                   </td>
                               </tr>
                                <tr>
                                    <td>
                                        <div style="float: left; font-size: 25px;">{{ rzecz.title }}</div>
                                        <div style="float: right; font-size: 20px;">{{ rzecz.year }}</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </a>
                {% endfor %}

            </div>
            <div class="column">

                <table>
                    <tbody>
                        <tr>
                            <td>
                                <select class="selected" id="category_selected" onchange="location = this.value;"  >
                                    <option>Kategorie</option>
                                    <option value="{% url 'poszukiwania:rzeczy_list' %}" >Wszystkie</option>
                                    {% for category in categories %}
                                    <option  id='{{ category.slug }}' value="{{ category.get_absolute_url }}"{% if category == current_category %}selected="selected"{% endif %} >{{ category.title }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                 <select class="selected" onchange="location = this.value">
                                    <option value=""><strong>Sortowanie wg.</strong></option>
                                    <option value="?sort={{ 'title' }}">nazwa</option>
                                    <option value="?sort={{ 'year' }}">rok</option>
                                    <option value="?sort={{ 'publish' }}">publikacja</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="mapid" class="mapid">

        <script type="text/javascript">
              var m = L.map('mapid').setView([52.012, 21.922], 15);
                L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/' +
                    'World_Imagery/MapServer/tile/{z}/{y}/{x}').addTo(m);
                {% for e in maps %}
                    console.log({{ e.lat_lng }})
                    L.marker({{ e.lat_lng }}).addTo(m).bindPopup('ssss');
                {% endfor %}

        </script>




<!-- <script>-->


<!--    $(document).ready(function () {-->
<!--         var collection = {{ maps|geojsonfeature:":geolokalizacja"|safe }};-->
<!--        var map = L.map('mapid', {-->
<!--            minZoom: 14,-->
<!--            }).setView([52.011217, 21.921226], 0);-->
<!--        L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {}).addTo(map);-->
<!--        function onEachFeature(feature, layer) {-->
<!--            {-->
<!--              layer.bindPopup(feature.properties);-->
<!--    }-->
<!--  }-->
<!--        L.geoJson(collection, {onEachFeature: onEachFeature}).addTo(map)-->
<!--    })-->


<!-- </script>-->
        {% endif %}
    </div>
 <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
{% endblock %}

