{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Logowanie" %}{% endblock %}

{% block content %}
<div class="login">
    <h1 style="text-align: center;">{% trans "LOGIN" %}</h1>
    {% if form.errors %}
        <p>
            {% blocktrans %}
                The username or password is incorrect.
                try again
            {% endblocktrans %}
        </p>
    {% endif %}
    <form action="{% url 'poszukiwania:login' %}" method="post">
        {% csrf_token %}
        <div>
            <div class="center_register">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-person-fill" viewBox="0 0 16 16">
                    <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z"/></svg>
                </div>
                <div>{{ form.username }}</div>
            </div>
            <div class="center_register">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                      <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                    </svg>
                </div>
                <div>{{ form.password }}</div>
            </div>
            <div class="center_register">
                <input type="hidden" name="next" value="{{ next }}" />
                <button type="submit" class="btn btn-info"  style="width: 100px">{% trans "Login" %}</button>
            </div>
            <div class="text_center">
                <p>{% trans "Don't have an account?" %} <a style="font-size: 20px; color: green;text-decoration:none;" href="{% url 'poszukiwania:register' %}">{% trans "Sign in" %}</a></p>
                <p><a style="font-size: 20px; color: green;text-decoration:none;" href="{% url 'poszukiwania:password_reset' %}">{% trans "Forget your password?" %}</a></p>

            </div>
        </div>
    </form>
</div>
{% endblock %}
