 {% extends "base.html" %}
{% load static %}

{% block title %}Logowanie{% endblock %}

{% block content %}
  <div class="login" >
    <h1>Logowanie</h1>
    {% if form.errors %}
        <p>
            Nazwa użytkownika lub hasło są nieprawidłowe.
            Spróbuj ponownie
        </p>
    {% else %}
        <p>Wypełnij aby się zalogować</p>
    {% endif %}


        <form action="{% url 'poszukiwania:login' %}" method="post">
              {{form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p style="text-align: center">
                <button type="submit" style="width: 150px; height: 35px;">Zaloguj się</button>
                <button style="width: 150px; height: 35px;"> <a href="{% url 'poszukiwania:register' %}" style="font-size: 20px"> Zarejestruj się</a></button>
            </p>
        </form>

    </div>
{% endblock %}
