{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
    <div class="login">
        <div class="text_center">
            <h3>{% trans "Reset password" %}</h3>
        </div>
        <hr>
        <div class="center_register">
            <p>{% trans "The password has been defined. You can" %} <a style='color: darkred' href="{% url 'poszukiwania:login' %}">{% trans "login" %}</a> {% trans "in now" %}</p>
        </div>
    </div>
{% endblock %}