{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Password change" %}{% endblock %}

{% block content %}
    <div class="login">
        <div style="height: 1rem;"></div>
        <h3 class="center_register">{% trans "Password change" %}</h3>
        <hr>
        <form action="." method="post">


            <div class="center_register">
                <div>
                    <div><label>{% trans "Old password:" %}</label></div>
                    <div>{{ form.old_password }}</div>
                </div>
            </div>
             <div class="center_register" >
                 {% if form.errors %}
                    <ul style="color: red">
                        <li>{% trans "Your password can’t be too similar to your other personal information." %}</li>
                        <li>{% trans "Your password must contain at least 8 characters." %}</li>
                        <li>{% trans "Your password can’t be a commonly used password." %}</li>
                        <li>{% trans "Your password can’t be entirely numeric." %}</li>
                    </ul>
                {% else %}
                    <ul>
                        <li>{% trans "Your password can’t be too similar to your other personal information." %}</li>
                        <li>{% trans "Your password must contain at least 8 characters." %}</li>
                        <li>{% trans "Your password can’t be a commonly used password." %}</li>
                        <li>{% trans "Your password can’t be entirely numeric." %}</li>
                    </ul>
                {% endif %}
            </div>
            <div class="center_register">
                <div>
                    <div><label>{% trans "New password:" %}</label></div>
                    <div>{{ form.new_password1 }}</div>
                </div>
            </div>
            <div class="center_register">
                <div>
                    <div><label>{% trans "New password(again):" %}</label></div>
                    <div>{{ form.new_password2 }}</div>
                </div>
            </div>
            <div class="center_register">
                <div>
                    <button type="submit" class="btn btn-info"  style="width: 100px">{% trans "Change" %}</button>
                    <a class="btn btn-info" href="{% url 'poszukiwania:objects_list' %}">{% trans "Back" %}</a>
                </div>
            </div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}