{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Password has been changed " %}{% endblock %}

{% block content %}
    <div class="login">
        <div class="text_center">
            <h3>{% trans "Reset Password" %}</h3>
        </div>
        <hr>
        <div class="center_register" style="margin-left: 1rem">
            <p>{% trans "We send you email with instructions let you create a new password" %}</p>
        </div>
        <div class="center_register" style="margin-left: 1rem">
            <p>{% trans "If you haven't the email message make sure on the form of password reset enter address e-mail provided when creating the user account" %}</p>
        </div>
        <div class="center_register"></div>

    </div>
{% endblock %}