{% extends 'base.html' %}
{% load static %}

{% block title %}Password has been changed {% endblock %}

{% block content %}
    <div class="login">
        <div class="text_center">
            <h3>Reset Password</h3>
        </div>
        <hr>
        <form action="." method="post">
            {% csrf_token %}
            <div class="center_register">
                {{ form.as_p }}
            </div>
            <div class="center_register">
                <button class="btn btn-info" type="submit">Send email</button>
            </div>
        </form>
        <div class="center_register"></div>

    </div>
{% endblock %}