<div class="objects">

    {% for object in objects %}
        <a href="{{ object.get_absolute_url }}">
            <div  {% if forloop.counter|divisibleby:2 %} class="ciemny"{% else %} class="jasny"{% endif %}>
                <table>
                   <tr>
                       <td>
                           <div style="display: flex">
                               <img class="image" src="{{ object.image_obverse.url }}">
                               <img class="image " src="{{ object.image_reverse.url }}">
                           </div>
                       </td>
                   </tr>
                    <tr>
                        <td>
                            <div class="float_left text-justify"><h4>{{ object.name }}</h4></div>
                            <div class="float_right">
                                <div>
                                    <h6 style="color: darkslategrey">
                                        {% if object.year != None %}
                                            {{ object.year }}
                                        {% endif %}
                                    </h6>
                                </div>
                                {% if object.catalog_number != 0 %}
                                    <div><h6 style="color: darkred">{{ object.catalog_number}}</h6></div>
                                {% endif %}
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
        </a>
    {% endfor %}
</div>