<div class="objects">
    <div class="pagination">
        <div class="pagination_detail">
            {% if objects.has_previous %}
                <a class="pagination_text"  href="?page=1"><strong><<</strong></a>
            {% else %}
                <strong class="pagination_text"><<</strong>
            {% endif %}
        </div>
        <div class="pagination_detail">
            {% if objects.has_previous %}
                <a class="pagination_text"  href="?page={{ objects.previous_page_number }}"><strong><</strong></a>
            {% else %}
                <strong class="pagination_text"><</strong>
            {% endif %}
        </div>
        <div class="pagination_detail">
             {% for number_page in objects.paginator.page_range %}
                {% if number_page == objects.number %}
                    <a class="pagination_number" style="background-color: #3875d7;" href=""><strong>{{ number_page }}</strong></a>
                {% else %}
                    {% if number_page > objects.number|add:'-3' and  number_page < objects.number|add:'3' %}
                        <a class="pagination_number" href="?page={{ number_page }}"><strong>{{ number_page }}</strong></a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
       <div class="pagination_detail">
            {% if objects.has_next %}
                <a class="pagination_text" href="?page={{ objects.next_page_number }}"><strong>></strong></a>
            {% else %}
                <strong class="pagination_text">></strong>
            {% endif %}
       </div>
        <div class="pagination_detail">
            {% if objects.has_next %}
                <a class="pagination_text" href="?page={{ objects.paginator.num_pages }}"><strong>>></strong></a>
            {% else %}
                <strong class="pagination_text">>></strong>
            {% endif %}
       </div>
    </div>
    {% for object in objects %}
        <a href="{{ object.get_absolute_url }}">
            <div  {% if forloop.counter|divisibleby:2 %} class="ciemny"{% else %} class="jasny"{% endif %}>
                <table>
                   <tr>
                       <td>
                           <div style="display: flex">
                               <img class="image" src="{{ object.image_obverse.url }}">
                               <img class="image" src="{{ object.image_reverse.url }}">
                           </div>
                       </td>
                   </tr>
                    <tr>
                        <td>
                            <div class="float_left"><h4>{{ object.name }}</h4></div>
                            <div class="float_right">
                                <div><h6 style="color: darkslategrey">{{ object.year }}</h6></div>
                                {% if object.catalog_number != 0 %}
                                    <div><h6 style="color: darkred">{{ object.catalog_number}}</h6></div>
                                {% endif %}
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
        </a>
    {% endfor %}
</div>