{% load i18n %}
<div id="colFunction" class="col-3">
    <div id='sidebar' class="sidebar">
        <div class="toggleFunctions">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
             <select  class="btn  width " onchange="location = this.value">
                <option class="btn">{% trans "Language" %}</option>
                {% for language in languages %}
                    <option  value="/{{ language.code }}/" {% if language.code == LANGUAGE_CODE %} class="selected"{% endif %}>
                            {{ language.name_local }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="toggleFunctions">
            <a class="btn toggleFunctions width" href="#">{% trans 'Help' %}</a>
        </div>
        <div class="toggleFunctions">
            <a class="btn toggleFunctions width" href="{% url 'poszukiwania:password_change' %}">{% trans 'Change password' %}</a>
        </div>
        <hr>
        <div class="space_function"></div>
        <div>
            <a class="btn toggleFunctions" id="logout"  href="{% url 'poszukiwania:logout' %}"><h5>{% trans "Logout" %}</h5></a>
        </div>

    </div>
    <div>
        <table style="width: 100%; margin-top: 0.5rem;">
            <tbody>
                <tr>
                    <td>
                        <a class="btn row_table function_button"  href="{% url 'poszukiwania:create' %} " >{% trans 'Add an object' %}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select class="btn  row_table function_button" id="category_selected" onchange="location = this.value;">
                            <option>{% trans "Categories" %}</option>
                            <option value="{% url 'poszukiwania:objects_list' %}" >{% trans "All" %}</option>
                            {% for category in categories %}
                                <option  id='{{ category.slug }}' value="{{ category.get_absolute_url }}"{% if category == current_category %}selected="selected"{% endif %} >{{ category.title }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                         <select class="btn  row_table function_button" onchange="location = this.value">
                            <option value=""><strong>{% trans "Sort by" %}</strong></option>
                            <option value="?sort={{ 'name' }}">{% trans "Name" %}</option>
                            <option value="?sort={{ 'year' }}">{% trans "Year" %}</option>
                            <option value="?sort={{ 'publish' }}">{% trans "Publication" %}</option>
                            <option value="?sort={{ 'catalog_number' }}">{% trans "Catalog_numbers" %}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                         <select class="btn row_table function_button" id="select_style" >
                            <option><strong>{% trans "Style" %}</strong></option>
                            <option onclick="styleFunction('thumbnail')">{% trans "Thumbnail" %}</option>
                            <option onclick="styleFunction('table')">{% trans "Table" %}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="latest_objects">
    <p>{{ request.session.style }}</p>
        <h3 class="text_center">{% trans "Recently added" %}</h3>
            <ul>
                {% for object in recently %}
                <li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
                {% endfor %}
            </ul>
    </div>

</div>